@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  outline: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: $white;
  color: $black;
  cursor: default;
  font-family: 'Roboto Mono', monospace;
}

input, select, textarea, button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: none;
  outline: none;
  background: none;
  -webkit-appearance: none;
  font-family: inherit;
}

button {
  cursor: pointer;
}

p, a {
  font-size: 1rem;
  margin: 0;
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}

p, a, span, button {
  &::selection {
    background: $black;
    color: $white;
  }
}